@import "veriables.css";

/* Modal window interaction */
.modal.open .modal__overlay,
.modal.open .modal__window {
    opacity: 1;
    z-index: 20;
}

.modal.open .modal__overlay {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
}

.modal.open .modal__window {
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

/* Allows animation on closing */
.modal.hide .modal__overlay,
.modal.hide .modal__window {
    opacity: 1;
    z-index: 20;
}

.modal.hide .modal__overlay {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}
.modal.hide .modal__window {
    transform: translate(-50%, -300%);
    transition: transform 0.3s ease;
}

/* End of animation on closing */

/* End of modal window interaction. */

.modal {
    font-family: Arial;
}

/* Default behaviour. */
.modal__overlay,
.modal__window {
    opacity: 0;
    z-index: -1;
}
/* End of default behaviour. */

.modal__overlay {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.modal__window {
    position: absolute;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    background-color: #ffffff;
    width: 707px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
}

.modal__close-button {
    position: absolute;
    right: 0;
    top: -35px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}

.modal__close-button:focus {
    border: 1px solid #ba933e;
}

.modal__close-icon {
    height: 18px;
    width: 18px;
    position: relative;
}
.modal__heading {
    position: absolute;
    top: -92px;
    left: 0;
    color: #ffffff;
    font-size: 40px;
    line-height: 45px;
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.modal__container {
    padding: 30px;
}
.modal__body {
}
.modal__title {
    margin-top: 0;
    margin-bottom: 17px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}
.modal__text {
    color: #6a6a6a;
    line-height: 22px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dadada;
    margin: 0 0 30px 0;
}
.modal__rates-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.modal__rates-interaction {
}
.modal__rates-text {
    line-height: 22px;
    color: #8d8d8d;
}
.modal__rates-text--yes-answer {
    margin-left: 40px;
    margin-right: 30px;
}

.modal__rates-text--no-answer,
.modal__rates-text--yes-answer {
    cursor: pointer;
}
.modal__rates-results {
}
.modal__result-counter {
}
.modal__footer {
}
.modal__call-to-action {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    margin-top: 0;
}

.footer__button {
    cursor: pointer;
    border-radius: 17.5px;
    border: 1px solid #ba933e;
    font-size: 16px;
    color: #ba933e;
    background-color: #fff;
    padding: 8px 20px;
    line-height: 18px;
    margin-right: 10px;
    outline: none;
}

.footer__button:hover,
.footer__button:active,
.footer__button:focus {
    transition: 0.3s;
    color: #fff;
    background-color: #ba933e;
}
