@import "veriables.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.page {
    min-height: 100%;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
}

.page__container {
    min-height: 100%;
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 70px 20px;
}

.listing {
}

.listing__header {
    margin-bottom: 35px;
}

.listing__title {
    color: var(--title-color);
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}

.card__title-link {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.card__title-link:hover,
.card__title-link:active,
.card__title-link:focus {
    transition: var(--general-transition-time);
    color: var(--link-hover-color);
}

.listing__subtitle {
    color: var(--subtitle-color);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.listing__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px;
    overflow-x: hidden;
}

.listing__card {
    display: flex;
    flex-direction: column;
    width: var(--listing-card-width);
}

.card__header {
    display: block;
    height: var(--listing-image-height);
    outline: none;
}

.card__header-image {
    width: 100%;
    height: 100%;
}

.card__body {
    flex: 1 1 auto;
    padding-top: 30px;
}

.card__body-tag {
    margin-bottom: 16px;
}

.card__tag-link {
    text-decoration: none;
    background: var(--tag-background-color);
    line-height: 24px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 0 11px;
    border-radius: 3px;
    height: 24px;
    outline: none;
}

.card__body-info {
    margin-bottom: 20px;
}

.card__origin-info {
    color: var(--origin-by-color);
    margin-right: 15px;
    font-weight: bold;
}

.card__origin-date {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    padding-left: 15px;
    padding-right: 15px;
    color: #888888;
    margin-right: 15px;
}

.card__price {
    color: var(--origin-by-color);
    margin-right: 15px;
    font-weight: bold;
}

.card__title {
    font-size: 20px;
}

.card__text {
    color: var(--card-text-color);
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 28px;
}

.card__footer {
}

.card__button {
    cursor: pointer;
    border: 2px solid #e5e5e5;
    line-height: 45px;
    padding: 0 30px;
    border-radius: 3px;
    font-weight: bold;
    color: var(--button-color);
    background-color: transparent;
    font-size: 14px;
    outline: none;
}

.card__button-icon {
    height: 10px;
    margin-left: 5px;
    vertical-align: center;
}

.card__button:hover,
.card__button:active,
.card__button:focus {
    transition: var(--general-transition-time);
    border-color: var(--button-hover-color);
    color: var(--button-hover-color);
}

.card__button:hover .card__button-icon g,
.card__button:active .card__button-icon g,
.card__button:focus .card__button-icon g {
    fill: var(--button-hover-color);
}

@media screen and (max-width: 1395px) {
    .listing__cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 950px) {
    .listing__card {
        width: var(--listing-card-width-tablet);
    }
}

@media screen and (max-width: 752px) {
    .listing__cards-wrapper {
        grid-template-columns: 1fr;
    }

    .listing__card {
        width: 100%;
    }
}

/* Modal window interaction */
.modal.open .modal__overlay,
.modal.open .modal__window {
    opacity: 1;
    z-index: 20;
}

.modal.open .modal__overlay {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
}

.modal.open .modal__window {
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

/* Allows animation on closing */
.modal.hide .modal__overlay,
.modal.hide .modal__window {
    opacity: 1;
    z-index: 20;
}

.modal.hide .modal__overlay {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}
.modal.hide .modal__window {
    transform: translate(-50%, -300%);
    transition: transform 0.3s ease;
}

/* End of animation on closing */

/* End of modal window interaction. */

.modal {
    font-family: Arial;
}

/* Default behaviour. */
.modal__overlay,
.modal__window {
    opacity: 0;
    z-index: -1;
}
/* End of default behaviour. */

.modal__overlay {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.modal__window {
    position: absolute;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    background-color: #ffffff;
    width: 707px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
}

.modal__close-button {
    position: absolute;
    right: 0;
    top: -35px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}

.modal__close-button:focus {
    border: 1px solid #ba933e;
}

.modal__close-icon {
    height: 18px;
    width: 18px;
    position: relative;
}
.modal__heading {
    position: absolute;
    top: -92px;
    left: 0;
    color: #ffffff;
    font-size: 40px;
    line-height: 45px;
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.modal__container {
    padding: 30px;
}
.modal__body {
}
.modal__title {
    margin-top: 0;
    margin-bottom: 17px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}
.modal__text {
    color: #6a6a6a;
    line-height: 22px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dadada;
    margin: 0 0 30px 0;
}
.modal__rates-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.modal__rates-interaction {
}
.modal__rates-text {
    line-height: 22px;
    color: #8d8d8d;
}
.modal__rates-text--yes-answer {
    margin-left: 40px;
    margin-right: 30px;
}

.modal__rates-text--no-answer,
.modal__rates-text--yes-answer {
    cursor: pointer;
}
.modal__rates-results {
}
.modal__result-counter {
}
.modal__footer {
}
.modal__call-to-action {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    margin-top: 0;
}

.footer__button {
    cursor: pointer;
    border-radius: 17.5px;
    border: 1px solid #ba933e;
    font-size: 16px;
    color: #ba933e;
    background-color: #fff;
    padding: 8px 20px;
    line-height: 18px;
    margin-right: 10px;
    outline: none;
}

.footer__button:hover,
.footer__button:active,
.footer__button:focus {
    transition: 0.3s;
    color: #fff;
    background-color: #ba933e;
}
